// colors

$white: #fff;
$grey-light-1: #f7f7f7;
$grey-light-2: #c2c2c2;
$grey-light-3: #aaaaaa;

$grey-dark-1: #5c5c5c;
$grey-dark-2: #494949;
$grey-dark-3: #333;
$black: #000;

// sizing

$header-height: 85vh;
$section-height: 60vh;
$section-padding: 10rem;
$section-images-distance: $section-padding;
$border-rad: 3px;

// effects
$shadow-light: 0 2rem 4rem rgba($black, .3);
$shadow-dark: 0 2rem 5rem rgba($black, .5);