#backdrop {
    top: 0;
    right: $navigation-width;
    width: 100vw;
    height: 100%;
    background: rgba($black, .2);
    position: absolute;
    cursor: default;
    z-index: 10;


    @include hide;

    @include adapt(phone) {
        right: 0;
        //top: $navigation-height;
    }
}