.map {
    height: 90%;
    padding-top: 5rem;
    display: flex;
    align-items: center;

    &__container {
        position: relative;
        height: 35rem;
        width: 50rem;

        @include adapt(phone) {
            width: 100%;
        }
    }

    @include adapt(tablet) {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
}

#map {
    position: relative;
    height: inherit;
    width: inherit;

    object-position: center;
    object-fit: cover;
}
