.nav {
  width: 100%;
  background: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.5rem 3rem;
  position: absolute;
  top: 0;

  text-transform: uppercase;

  a:hover {
    border-bottom: 0.14rem solid $color-black-1;
		padding-bottom: 0.15rem;
  }
}