.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 3rem 0;
  position: relative;

  @include adapt(tablet) {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 2rem 4rem;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    transition: $svg-transition;
    margin-bottom: 1.5rem;

    @include adapt(tablet) {
      margin-bottom: 0;
      margin-left: 1.5rem;
    }
  }

  &__anchor:hover &__icon {
    fill: $white;
  }

  &__nav {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    background: inherit;
    color: black;

    box-shadow: $shadow;

    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    animation: slideFromRight .6s cubic-bezier(.07,.68,1,.58) forwards;

    @include hide;

    @include adapt(tablet) {
      width: 100%;
      height: 60rem !important;
      justify-content: space-evenly;
      animation: slideFromTop .6s cubic-bezier(.07,.68,1,.58) forwards;
    }
  }
  
  &__nav:target {
    
    @include unhide;
    
    z-index: 1000;
    padding: 2rem 3rem;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    top: 0;

    @include adapt(tablet) {
      transform: translateY(-300px);
      width: 100%;
    }
  }

  &__link {

    text-transform: capitalize;
    transition: color .15s ease-in;

    &:not(:last-of-type) {
      margin-bottom: 6rem;
    }

    &:hover {
      color: $white;

      &:not(:first-of-type) {
        &::after {
          content: '↞';
          color: $primary-1;
          margin-left: 1rem;
        }
      }
    }

    &--close:hover {
      color: $primary-2;
    }
  }

}

@keyframes slideFromRight {
  from {
    width: 20rem;
  }

  to {
    width: 30rem;
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-300px);
  }

  to {
    transform: translateY(0px);
  }
}