nav.main {
  top: 0;
  margin: 0;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  position: fixed;
  color: var(--font);
  font-weight: 900;
  background-color: var(--cardbg);
  align-items: center;
  justify-content: space-between;
  z-index: 300;
}

nav.main .icon-menu {
  display: flex;
  cursor: pointer;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  background: none;
  border: none;
  height: 35px;
}

nav.main .icon-menu span {
  height: 1px;
  width: 35px;
  background: var(--white);
  display: inline-block;
}

nav.main .icon-menu:hover span {
  background: var(--font);
}

nav.main .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.main .logo img {
  width: 40px;
  margin-right: 20px;
}
