nav.submenu {
  top: 60px;
  width: 100%;
  z-index: 200;
  min-height: 200px;
  padding: 20px 50px;
  position: fixed;
  background: var(--white);
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);

  /* animation */
  transform: translateY(-200%);
  transition: transform 0.3s ease;
}

nav.submenu.open {
  transform: translateY(0);
}

nav.submenu ul li {
  padding: 5px;
  margin: 10px 0;
  text-transform: capitalize;
}

nav.submenu ul li:hover {
  background: rgba(200, 200, 200, 0.3);
}
