.grid-container {
  display: grid;
  grid-template-columns: 200px 100px 100px;
  grid-template-rows: 100px 100px;
  grid-gap: 10px;
}

/* Each added box has this class */
.box {
  
}

/* + a unique class .box-1, .box-2, .box-n ... */
.box-1 {
  border: 10px solid white;
}

.box-2 {
  border: 10px solid yellow;
}